@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: inherit;
}

body {
  @apply min-h-[100vh];
}

/* General Styles */

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-8;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.grid-three {
  @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 my-8;
}

.transition-200 {
  @apply transition-all duration-200 ease-in-out;
}

.pill-btn {
  @apply w-fit rounded-full transition-200 px-2 py-1 sm:px-6 sm:py-3 bg-primary border-2 border-white text-white font-bold sm:text-xl hover:bg-white hover:border-primary hover:text-primary;
}

.svg-background {
  @apply absolute top-0 bottom-0 right-0 left-0 overflow-hidden;
}

.outlined-text {
  text-shadow:
          1px 1px 0 black,
          -1px -1px 0 black,
          1px -1px 0 black,
          -1px 1px black;
}

/* Header Styles */

.nav-link {
  @apply relative py-2 text-center transition-200 hover:text-primary;
}

.nav-link::before {
  content: '';
  @apply absolute bottom-0 left-[50%] w-0 h-[2px] bg-primary transition-200;
}

.nav-link:hover::before {
  @apply w-[100%] left-0;
}

/* Form Styles */

label { @apply cursor-pointer }

input, select {
  @apply min-h-[45px] border border-gray-300 bg-white rounded-md;
}

select {
  @apply cursor-pointer transition-200 focus:ring-2 focus:ring-primary hover:bg-gray-100 focus:bg-gray-100;
}

/* Character Sheet Styles */

.subsection-footer {
  @apply absolute bottom-[5px] left-0 right-0 flex justify-center font-bold uppercase text-white text-sm tracking-tightest
}

.table__column-header {
  @apply text-[11px] font-bold py-[5px] uppercase tracking-tightest;
}

/* Colour Styles */

.bg-barbarian, .bg-barbarian::before, .bg-barbarian::after { @apply bg-class-barbarian }
.bg-bard, .bg-bard::before, .bg-bard::after { @apply bg-class-bard }
.bg-blood-hunter, .bg-blood-hunter::before, .bg-blood-hunter::after { @apply bg-class-blood-hunter }
.bg-cleric, .bg-cleric::before, .bg-cleric::after { @apply bg-class-cleric }
.bg-druid, .bg-druid::before, .bg-druid::after { @apply bg-class-druid }
.bg-fighter, .bg-fighter::before, .bg-fighter::after { @apply bg-class-fighter }
.bg-monk, .bg-monk::before, .bg-monk::after { @apply bg-class-monk }
.bg-paladin, .bg-paladin::before, .bg-paladin::after { @apply bg-class-paladin }
.bg-ranger, .bg-ranger::before, .bg-ranger::after { @apply bg-class-ranger }
.bg-rogue, .bg-rogue::before, .bg-rogue::after { @apply bg-class-rogue }
.bg-sorcerer, .bg-sorcerer::before, .bg-sorcerer::after { @apply bg-class-sorcerer }
.bg-warlock, .bg-warlock::before, .bg-warlock::after { @apply bg-class-warlock }
.bg-wizard, .bg-wizard::before, .bg-wizard::after { @apply bg-class-wizard }

.text-barbarian { @apply text-class-barbarian }
.text-bard { @apply text-class-bard }
.text-blood-hunter {@apply text-class-blood-hunter }
.text-cleric { @apply text-class-cleric }
.text-druid {@apply text-class-druid }
.text-fighter { @apply text-class-fighter }
.text-monk { @apply text-class-monk }
.text-paladin { @apply text-class-paladin }
.text-ranger { @apply text-class-ranger }
.text-rogue { @apply text-class-rogue }
.text-sorcerer { @apply text-class-sorcerer }
.text-warlock { @apply text-class-warlock }
.text-wizard { @apply text-class-wizard }

.border-barbarian { @apply border-class-barbarian }
.border-barbarian-faded { @apply border-class-barbarian-faded }
.border-bard { @apply border-class-bard }
.border-bard-faded { @apply border-class-bard-faded }
.border-blood-hunter { @apply border-class-blood-hunter }
.border-blood-hunter-faded { @apply border-class-blood-hunter-faded }
.border-cleric { @apply border-class-cleric }
.border-cleric-faded { @apply border-class-cleric-faded }
.border-druid { @apply border-class-druid }
.border-druid-faded { @apply border-class-druid-faded }
.border-fighter { @apply border-class-fighter }
.border-fighter-faded { @apply border-class-fighter-faded }
.border-monk { @apply border-class-monk }
.border-monk-faded { @apply border-class-monk-faded }
.border-paladin { @apply border-class-paladin }
.border-paladin-faded { @apply border-class-paladin-faded }
.border-ranger { @apply border-class-ranger }
.border-ranger-faded { @apply border-class-ranger-faded }
.border-rogue { @apply border-class-rogue }
.border-rogue-faded { @apply border-class-rogue-faded }
.border-sorcerer { @apply border-class-sorcerer }
.border-sorcerer-faded { @apply border-class-sorcerer-faded }
.border-warlock { @apply border-class-warlock }
.border-warlock-faded { @apply border-class-warlock-faded }
.border-wizard { @apply border-class-wizard }
.border-wizard-faded { @apply border-class-wizard-faded }

.button-barbarian { @apply border border-class-barbarian transition-200 hover:bg-class-barbarian hover:bg-opacity-25 }
.button-bard { @apply border border-class-bard transition-200 hover:bg-class-bard hover:bg-opacity-25 }
.button-blood-hunter { @apply border border-class-blood-hunter transition-200 hover:bg-class-blood-hunter hover:bg-opacity-25 }
.button-cleric { @apply border border-class-cleric transition-200 hover:bg-class-cleric hover:bg-opacity-25 }
.button-druid { @apply border border-class-druid transition-200 hover:bg-class-druid hover:bg-opacity-25 }
.button-fighter { @apply border border-class-fighter transition-200 hover:bg-class-fighter hover:bg-opacity-25 }
.button-monk { @apply border border-class-monk transition-200 hover:bg-class-monk hover:bg-opacity-25 }
.button-paladin { @apply border border-class-paladin transition-200 hover:bg-class-paladin hover:bg-opacity-25 }
.button-ranger { @apply border border-class-ranger transition-200 hover:bg-class-ranger hover:bg-opacity-25 }
.button-rogue { @apply border border-class-rogue transition-200 hover:bg-class-rogue hover:bg-opacity-25 }
.button-sorcerer { @apply border border-class-sorcerer transition-200 hover:bg-class-sorcerer hover:bg-opacity-25 }
.button-warlock { @apply border border-class-warlock transition-200 hover:bg-class-warlock hover:bg-opacity-25 }
.button-wizard { @apply border border-class-wizard transition-200 hover:bg-class-wizard hover:bg-opacity-25 }

path.barbarian, circle.barbarian { @apply fill-class-barbarian }
path.barbarian-faded { @apply fill-class-barbarian-faded }
path.bard, circle.bard { @apply fill-class-bard; }
path.bard-faded { @apply fill-class-bard-faded }
path.blood-hunter, circle.blood-hunter { @apply fill-class-blood-hunter; }
path.blood-hunter-faded { @apply fill-class-blood-hunter-faded }
path.cleric, circle.cleric { @apply fill-class-cleric; }
path.cleric-faded { @apply fill-class-cleric-faded }
path.druid, circle.druid { @apply fill-class-druid; }
path.druid-faded { @apply fill-class-druid-faded }
path.fighter, circle.fighter { @apply fill-class-fighter; }
path.fighter-faded { @apply fill-class-fighter-faded }
path.monk, circle.monk { @apply fill-class-monk; }
path.monk-faded { @apply fill-class-monk-faded }
path.paladin, circle.paladin { @apply fill-class-paladin; }
path.paladin-faded { @apply fill-class-paladin-faded }
path.ranger, circle.ranger { @apply fill-class-ranger; }
path.ranger-faded { @apply fill-class-ranger-faded }
path.rogue, circle.rogue { @apply fill-class-rogue; }
path.rogue-faded { @apply fill-class-rogue-faded }
path.sorcerer, circle.sorcerer { @apply fill-class-sorcerer; }
path.sorcerer-faded { @apply fill-class-sorcerer-faded }
path.warlock, circle.warlock { @apply fill-class-warlock; }
path.warlock-faded { @apply fill-class-warlock-faded }
path.wizard, circle.wizard { @apply fill-class-wizard; }
path.wizard-faded { @apply fill-class-wizard-faded }

.text-common { @apply text-white }
.text-uncommon { @apply text-lime-600 }
.text-rare { @apply text-blue-400 }
.text-very-rare { @apply text-purple-500 }
.text-legendary { @apply text-yellow-500 }